<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">My Profile</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav link-effect">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#gallery">Gallery</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <!-- Banner -->
  <div class="banner">
    <ul class="rslides" id="slider">
      <li>
        <div class="banner-info">
          <h3>Its My Life</h3>
          <span class="line1"></span>
          <p>Lorem Ipsum is dummy text.</p>
          <span class="line2"></span>
          <div class="social-icons">
            <a href="#"><span class="facebook"></span></a>
            <a href="#"><span class="twitter"></span></a>
            <a href="#"><span class="linkedin"></span></a>
            <a href="#"><span class="googleplus"></span></a>
          </div>
        </div>
      </li>
      <li>
        <div class="banner-info">
          <h3>My Passion</h3>
          <span class="line1"></span>
          <p>Lorem Ipsum is dummy text.</p>
          <span class="line2"></span>
          <div class="social-icons">
            <a href="#"><span class="facebook"></span></a>
            <a href="#"><span class="twitter"></span></a>
            <a href="#"><span class="linkedin"></span></a>
            <a href="#"><span class="googleplus"></span></a>
          </div>
        </div>
      </li>
      <li>
        <div class="banner-info">
          <h3>My Life Style</h3>
          <span class="line1"></span>
          <p>Lorem Ipsum is dummy text.</p>
          <span class="line2"></span>
          <div class="social-icons">
            <a href="#"><span class="facebook"></span></a>
            <a href="#"><span class="twitter"></span></a>
            <a href="#"><span class="linkedin"></span></a>
            <a href="#"><span class="googleplus"></span></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</body>
